* {
	box-sizing: border-box;
}
body {
	background-color: #d0d0d0;
	height: 100vh;
	margin: 0;
	padding: 0;
}
.container {
	margin: 0 auto;
	max-width: 450px;
	position: relative;
    transform: translateY(-50%);
	top: 50%;
}
.main-wrapper {
	background-color: #fff;
	box-shadow: 0px 6px 12px 0px rgb(0 0 0 / 10%);
	border-radius: 8px;
	max-height: 400px;
}
.time-bg {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	height: 150px;
}
#loading {
	align-items: center;
	display: grid;
	font-family: "Karla", sans-serif !important;
	justify-items: center;
	height: inherit;
}
.time-wrapper {
	color: #fff;
	display: flex;
	font-family: Monospace;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    align-items: center;
    justify-content: center;
}
.time-wrapper h1, .time-wrapper h3 {
	text-shadow: 3px 3px rgb(0 0 0 / 62%);
	margin: 0;
}
.time--current {
    font-size: 3.5rem;
    text-align: right;
    margin: 0;
    padding-right: 5px;
}
.time--text {
	font-family: Arial;
}
.time--secs-ampm {
	align-items: center;
	display: grid;
	font-size: 2.2rem;
	justify-items: flex-start;
	text-align: right;
}
select, select > option {
	text-transform: capitalize;
}
footer {
	font-family: "Karla", Arial;
	display: grid;
	grid-template-columns: repeat(2, 1fr) 65px;
	grid-gap: 10px;
	padding: 15px;
}
footer select {
	border: 1px solid #ccc;
	border-radius: 4px;
	height: 34px;
	outline: 0;
	width: 100%;
}
footer select:focus {
	border-color: royalblue;
}
label {
	font-family: "Karla", Arial;
	cursor: pointer;
	font-size: 12px;
	text-align: center;
}
label > input {
	vertical-align: top;
}
small {
	color: #aaa;
	display: block;
	font-weight: bold;
	font-size: 12px;
	margin-bottom: 5px;
	text-transform: uppercase;
}
.hide {
	display: none !important;
}
.switch {
	position: relative;
	display: inline-block;
	width: 54px;
	height: 28px;
  }
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}
.slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}
input:checked + .slider {
	background-color: #47cd6a;
}
input:focus + .slider {
	box-shadow: 0 0 1px #47cd6a;
}
input:checked + .slider:before {
	transform: translateX(26px);
}
.slider.round {
	border-radius: 34px;
}
.slider.round:before {
	border-radius: 50%;
}
@media screen and (max-width: 415px) {
	.container {
		transform: none;
		top: 0;
	}
	.main-wrapper {
		border-radius: 0;
		max-height: none;	
	}
	.time-bg {
		border-radius: 0;
		height: calc(100vh - 82px);
	}
	.time--current {
		font-size: 2.5rem;
	}
	.time--secs-ampm {
		font-size: 1.5rem;
	}
	footer {
		align-content: center;
	}
}